html {
  font-family: "Rubik", sans-serif;
  background-color: #2e3440;
  color: #eceff4;
}

h1,
.shopping-list {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
}

.shopping-list {
  margin-top: 50px;
  background-color: #3b4252;
  border: 2px ridge #81a1c1;
}

.delete {
  background: transparent;
  border: none;
  color: red;
  font-weight: bold;
  font-size: 1rem;
}

ul {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: column;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
